.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222222;
}
.container {
  background-color: lightblue;
  border: 5px solid lightgray;
  border-radius: 10px;
  height: 80vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: auto; */
}
.list {
  overflow: auto;
  width: 100%;
}
input {
  text-align: center;
  height: 80%;
  border: none;
  font-size: 20px;
  background: transparent;
  border-bottom: 2px solid black;
  outline: none;
}
li {
  list-style-type: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.edit {
  width: auto;
  height: 100%;
}
/* ol {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 40vw;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
} */
/* button {
  margin: 2px;
  background-color: #0906b1;
  color: black;
  font-size: 40px;
  padding: 2px 10px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: greenyellow;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */
